@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-body: var(--font-ibm-plex-sans);
  --font-heading: var(--font-orbitron);
  --font-mono: var(--font-ibm-plex-mono);
  --default-font-family: var(--font-body);
  --default-mono-font-family: var(--font-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ibm-plex-sans);
  --font-mono: var(--font-ibm-plex-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-body);
  }

  h1, h2, h3 {
    font-family: var(--font-heading);
  }

  code, pre, .font-mono {
    font-family: var(--font-mono);
  }
}
